@import 'reset';

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.container {
  max-width: 980px;
  margin: 0 auto;

.asos-container {
  width: 980px;
  height: 100%;
  background: blue;
  

  &__button {

    width: 50%;
    float: right;
    background-color: red;
    padding: 12px;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid red;
      position: absolute;
      top: 125%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__button {
    width: 50%;
    float: right;
    background-color: yellow;
    padding: 12px;
    position: relative;

     &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid yellow;
      position: absolute;
      top: 125%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.main-container {
  height: 40px;
  &__description {
    width: 50%;
    float: left;
    background: navy;
    height: 400px;
  }

  &__image {
    width: 50%;
    float: right;
    background: yellow;
    height: 400px;
  }
}

.main-container-three {

  &__image-1 {
    width: 33.3%;
    background: red;
    float: left;
    height: 200px;
  }

  &__image-2 {
    width: 33.3%;
    background: green;
    float: left;
    height: 200px;
  }

  &__description {
    width: 33.4%;
    background: cyan;
    float: left;
    height: 200px;

    .content-container {
      width: 80%;
      margin: 0 auto;

      h3 {
        text-transform: uppercase;
        font: 30px;
        text-align: center;
        padding: 15px;
      }

      .cta {
        width:40%;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
}


